*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #ebf2ff;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}

.navbar__brand {
  width: 100px;
}

.navbar__logo {
  width: 100%;

}

.button__primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight:  600;
}

.button__primary:hover {
  border: 2px solid #FF6767;
  cursor: pointer;
}

.container {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.hero__image__container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.hero__design__background {
  position: relative;
  top: 150px;
  z-index: -3;
}

.hero__image {
  position: relative;
  top: -200px;
  width: 380px;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgba(0 0 0 /25%);

}

.hero__text {
  font-size: 30px;
  margin: 20px 0;
  color: #1d3557;
  font-weight: 800;
}

.food__card__description {
  padding: 15px;
}

.food__card {
  background-color: #F9F9F9;
}

.food__card__image__container {
  width: 100%;
}

.food__image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.explore__menu__text {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: #1d3557;
  font-weight: 800;
}

.view__menu__text {
  text-align: center;
  color: #79E0EE;
  padding: 20px;

}

.view__menu__text:hover {
  cursor: pointer;
  color: #00C4FF;
}

.restaurant__image__row1 {
  display: flex;
  align-items: baseline;
}

.restaurant__image__row2 {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.image__1__container, .image__3__container {
  border-radius: 4px;
  margin: 0 5px;
  width: 150px;
  height: 80px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.restaurant__image__1 {
  width: 100%;
border-radius: 4px;
}

.restaurant__image__3 {
  width: 100%;
  border-radius: 4px;
}

.image__2__container, .image__4__container {
  border-radius: 4px;
  margin: 0 5px;
  width: 200px;
  height: 100px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.restaurant__image__2 {
  width: 100%;
  border-radius: 4px;

}

.restaurant__image__4 {
  width: 100%;
  border-radius: 4px;
}

.email__dialog__box {

  padding: 8px 16px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.email__container__text {

  font-size: 30px;
  text-align: left;
  color: #1d3557;
  font-weight: 800;
}

.email__box {
  width: 200px;
  height: 30px;
  align-items: center;
  padding: 10px 10px 20px 0;
}

.input__box {
  width: 100%;
  height: 100%;
  padding: 4px;
  border-radius: 8px;
  border-top-color: : linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );
  background-color: #FCEDF0;
}
.get__update__button {
  width: 105px;
  height: 60px;
  padding: 10px;
}

.get__upadate {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );
  color: #fff;
  border-radius: 6px;
  border: none;
  font-weight: 550;
  font-size: 19px;
  text-align: center;
}

.get__upadate:hover {
  border: 2px solid #FF6767;
  cursor: pointer;
}

@media (min-width: 768px)
{
  .explore__menu__lists {
    margin-top: 45px;
    display: flex;
    gap: 15px;
    padding: 0 30px;
  }

  .explore__menu__container{
  position: relative;
  }

  .explore__menu__gradient__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 105%;
    width: 100%;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
      );
      z-index: -3;
      transform: skewY(-5deg);
  }

#pizza__card {
  margin-top: -20px;
  margin-bottom: 20px;
}

  .navbar
  {
    justify-content: space-between;
    padding: 10px 30px;
  }

  .hero__container
  {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

  }

.restaurant__container {
  display: flex;
  align-items: center;
}

.restaurant__text {
  text-align: center;
}

  .restaurant__images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .email__container__text {
    text-align: center;
    padding-right: 320px;
  }

  .email__box {
    padding-left: 90px;
    width: 400px;
    height: 30px;
  }

  .get__update__button {
    width: 190px;
    height: 50px;
  }

}

@media (min-width: 1024px) {
  .container {
    max-width: 70%;
  }
  .explore__menu__lists {
    gap: 25px;
  }

  .navbar__brand {
    width: 150px;
  }
  .button__primary {
    padding: 20px;
    font-size: 20px;
  }

  .hero__text {
    font-size: 50px
  }

  .explore__menu__text {
    font-size: 48px;
  }

  .restaurant__images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .image__2__container, .image__4__container {

    width: 300px;
    height: 260px;
      }

  .image__1__container, .image__3__container {

    width: 250px;
    height: 180px;
  }

  .restaurant__image__1, .restaurant__image__2, .restaurant__image__3, .restaurant__image__4 {
    width: 100%;
    height: 100%;
  }

  .email__container__text {
    font-size: 50px;
  }

  .email__box {
    padding-left: 190px;
  }
}
